@import "tailwindcss";

@theme {
  /* Define the new font variables */
  --font-oswald: var(--font-oswald);
  --font-lato: var(--font-lato);
  
  --color-brand-light: #ECFDF5;
  --color-brand-DEFAULT: #10B981;
  --color-brand-dark: #003329;
}

/* Force headings to use the Mountain Font */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald), sans-serif;
  text-transform: uppercase; /* Mountains feel bigger in uppercase */
  letter-spacing: 0.05em;
}

body {
  font-family: var(--font-lato), sans-serif;
}